[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pip = "*"
mysqlclient = "*"
django-crispy-forms = "*"
libsass = "*"
django-compressor = "*"
django-sass-processor = "*"
gunicorn = "*"
psycopg2-binary = "*"
dj-database-url = "*"
whitenoise = "*"
django = "*"
pillow = "*"
psycopg2 = "*"
django-heroku = "*"
django-widget-tweaks = "*"
django-debug-toolbar = "*"
mysql = "*"
django-toolbelt = "*"
django-sslserver = "*"
coverage = "*"
factory-boy = "*"
pytz = "*"

[requires]
python_version = "3.8"
