a{
  text-decoration:none;
}
.baseheader a{
  color: rgba(12, 14, 24, 0.74);
  font-size: 15px;
  margin-left: 10px;
}

.baseheader_name {
  position: relative;
  padding:0, 5px;
}
.baseheader_name:after { 
  content: ""; 
  display: block; 
  height: 4px; 
  background: -webkit-linear-gradient(to right, #2e3cff, transparent); 
  background: linear-gradient(to right, #2e3cff, transparent); }

body{
  line-height: 1.8;
}


@media screen and (min-width: 1200px) {
  .container{
    width: 1366px;
  }
  .main{
    display: flex;
    .calendar{
      width: 50vw;
    }
    .monthly-goal{
      width: 50vw;
    }
  }
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

.header{
    background: rgb(0, 129, 11);
    background-size: cover;
  }

.header--wrapper{
  display: flex;
  justify-content: left;
}

.header__title{
    font-size: 50px;
    color: white;
    font-weight: 800;
  }

.header__title--light{
      font-weight: 100;
    }

.header__paragraph{
    font-size: 20px;
    color: black;
    max-width: 850px;
    margin-bottom: 45px;
  }

@media screen and (max-width: 480px){
  .header .header__title {
    font-size: 20px;
  }
  body h2{
    font-size: 15px;
  }
  .baseheader{
    width: 100px;
    display: flex;
    flex-direction: column;
  }  
}

@media screen and (max-width: 1200px){
  .main{
    display: flex;
    flex-direction: column-reverse;
  }
}

.button{
  padding: 8px 50px;
  border-radius: 30px;
  font-size: 18px;
  color: white;
  border: 2px solid white;
  margin-right: 20px;
  display: inline-block;
  background-color: rgb(0, 129, 11);
  position: relative;
}

.baseheader {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 50%;
  
}

.baseheader_content .baseheader_name{
  font-size: 20px;
  color: black;
  padding-left: 35px;
}

.button:hover {
  background-color: #00b8d4b6;
  background-color: #00b8d4b6;
  -webkit-box-shadow: 3px 4px 7px #2BBBB8;
          box-shadow: 3px 4px 7px #2e9e9c;
}

.button:focus{
    text-decoration: none;
    color: black
  }

@media screen and (max-width: 480px){
  .header .button{
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1000px){
  .button__subscribe{
    right: 0;
  }
}

.page-section{
  margin-top: 10px;
  margin-bottom: 10px;
}

.page-section--large{
  margin-top: 150px;
  margin-bottom: 150px;
}

.page-section--small{
  margin-top: 20px;
}

.page-section__title{
  font-size: 30px;
  color: #061e37;
  font-weight: bold;
}

.page-section__paragraph{
  font-size: 15px;
  color: #061e37;
  max-width: 520px;
  margin-right: auto;
  margin-left: auto;
}

.footer--bg{
    background-color: #021E2F;
  }

.footer__title{
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
  }

.footer ul{
    padding-left: 0;
  }

.footer ul li{
    list-style-type: none;
    font-size: 15px;
    color: #fff;
    margin-bottom: 15x;
  }

.footer ul li a{
      color: white;
      font-weight: bold;
    }

.footer .gutters-100 > [class^="col-"], .gutters-100 > [class^="col-"]{
  padding-right: 50px;
  padding-left: 50px;
}

.col-md-6 {
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.main_upper, .deteil_lower{
  display: flex;
}

.pagenation_main {
  display: flex;
  justify-content: center;
  div {
    display: grid;
    place-items: center;
    padding-right: 5px;
  }
}

.monthly-goal{
  padding-right: 10px;
  margin-left: 10px;
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 25px;
    padding-top: 10px;
  }
  h3{
    font-size: 18px;
  }
  .l_font {
    font-size: 18px;
    align-items: center;
  }
  .goal_action {
    display: flex;
    padding: 0.15em 0.5em;
    margin: 0.1em 0;
    border: double 5px #0e53d4;
  }
  .goal_action_finish {
    display: flex;
    padding: 0.15em 0.5em;
    margin: 0.1em 0;
    border: solid 2px #555c81;
  }
}
.goals_content{
  background-color: rgba(0, 109, 18, 0.123);
  margin-top: 10px;
  text-decoration: none;
  color: rgb(107, 107, 107);
  border-style: solid;
  border-color: #137001; /* 枠の色 */
  border-width: 5px 1px 1px;
  box-shadow: 1px 1px 3px #ccc; /* 影 */
  }


.button_middle{
  padding: 8px 10px;
  border-radius: 10px;
  font-size: 12px;
  color: white;
  border: 2px solid white;
  margin-right: 10px;
  display: inline-block;
  background-color: rgba(0, 156, 13, 0.726);
  position: relative;

  a:link, a:visited {
    color: white;
  }
}

.action_create{
  align-items: center;
  .goal_create_link{
    font-size: 25px;
    text-align: center;
  }
}

.weekly_action_select{
  display: flex;
  justify-content: space-between;
  .weekly_action_select_button{
    display: flex;
    margin: 0,10px;
  }
}

.button_red, .button_blue{
  border-radius: 10px;
  font-size: 15px;
  height: 80%;
  border: 2px solid white;
  padding: 8px;
  display: inline-block;
  text-decoration: none;
}

.button_red{
  text-align: center;
  background-color: rgba(209, 22, 22, 0.466);
  color: white;
  a:link, a:visited {
    color: white;
  }
}

.button_blue{
  text-align: center;
  background-color: rgb(74, 91, 189);
  color: white;
  a:link, a:visited {
    color: white;
  }
}

.button_middle:hover, .button_blue:hover, .button_red:hover {
  a:link, a:visited {
    text-decoration: none;
    color: black
    }
  background-color: #00b8d4b6;
  background-color: #00b8d4b6;
  -webkit-box-shadow: 3px 4px 7px #2BBBB8;
          box-shadow: 3px 4px 7px #2e9e9c;
}
  
  $hanko-size: 50px;
  .hanko {
    font-size: 40px * ($hanko-size / 100px);
    border: 3px * ($hanko-size / 100px) double #f00;
    border-radius: 50%;
    color: #f00;
    width: $hanko-size;
    height: $hanko-size;
    display: flex;
    justify-content: center;
    align-items: center;
  }

