@charset "UTF-8";
a { text-decoration: none; }

.baseheader a { color: rgba(12, 14, 24, 0.74); font-size: 15px; margin-left: 10px; }

.baseheader_name { position: relative; padding: 0, 5px; }

.baseheader_name:after { content: ""; display: block; height: 4px; background: -webkit-linear-gradient(to right, #2e3cff, transparent); background: linear-gradient(to right, #2e3cff, transparent); }

body { line-height: 1.8; }

@media screen and (min-width: 1200px) { .container { width: 1366px; } .main { display: flex; } .main .calendar { width: 50vw; } .main .monthly-goal { width: 50vw; } }

html, body { width: 100%; height: 100%; margin: 0px; padding: 0px; overflow-x: hidden; }

.header { background: #00810b; background-size: cover; }

.header--wrapper { display: flex; justify-content: left; }

.header__title { font-size: 50px; color: white; font-weight: 800; }

.header__title--light { font-weight: 100; }

.header__paragraph { font-size: 20px; color: black; max-width: 850px; margin-bottom: 45px; }

@media screen and (max-width: 480px) { .header .header__title { font-size: 20px; } body h2 { font-size: 15px; } .baseheader { width: 100px; display: flex; flex-direction: column; } }

@media screen and (max-width: 1200px) { .main { display: flex; flex-direction: column-reverse; } }

.button { padding: 8px 50px; border-radius: 30px; font-size: 18px; color: white; border: 2px solid white; margin-right: 20px; display: inline-block; background-color: #00810b; position: relative; }

.baseheader { display: flex; justify-content: left; align-items: center; width: 50%; }

.baseheader_content .baseheader_name { font-size: 20px; color: black; padding-left: 35px; }

.button:hover { background-color: #00b8d4b6; background-color: #00b8d4b6; -webkit-box-shadow: 3px 4px 7px #2BBBB8; box-shadow: 3px 4px 7px #2e9e9c; }

.button:focus { text-decoration: none; color: black; }

@media screen and (max-width: 480px) { .header .button { margin-bottom: 20px; } }

@media screen and (max-width: 1000px) { .button__subscribe { right: 0; } }

.page-section { margin-top: 10px; margin-bottom: 10px; }

.page-section--large { margin-top: 150px; margin-bottom: 150px; }

.page-section--small { margin-top: 20px; }

.page-section__title { font-size: 30px; color: #061e37; font-weight: bold; }

.page-section__paragraph { font-size: 15px; color: #061e37; max-width: 520px; margin-right: auto; margin-left: auto; }

.footer--bg { background-color: #021E2F; }

.footer__title { font-size: 20px; color: #fff; margin-bottom: 10px; }

.footer ul { padding-left: 0; }

.footer ul li { list-style-type: none; font-size: 15px; color: #fff; margin-bottom: 15x; }

.footer ul li a { color: white; font-weight: bold; }

.footer .gutters-100 > [class^="col-"], .gutters-100 > [class^="col-"] { padding-right: 50px; padding-left: 50px; }

.col-md-6 { width: 50vw; display: flex; flex-direction: column; }

.main_upper, .deteil_lower { display: flex; }

.pagenation_main { display: flex; justify-content: center; }

.pagenation_main div { display: grid; place-items: center; padding-right: 5px; }

.monthly-goal { padding-right: 10px; margin-left: 10px; }

.monthly-goal h1 { font-size: 30px; }

.monthly-goal h2 { font-size: 25px; padding-top: 10px; }

.monthly-goal h3 { font-size: 18px; }

.monthly-goal .l_font { font-size: 18px; align-items: center; }

.monthly-goal .goal_action { display: flex; padding: 0.15em 0.5em; margin: 0.1em 0; border: double 5px #0e53d4; }

.monthly-goal .goal_action_finish { display: flex; padding: 0.15em 0.5em; margin: 0.1em 0; border: solid 2px #555c81; }

.goals_content { background-color: rgba(0, 109, 18, 0.123); margin-top: 10px; text-decoration: none; color: #6b6b6b; border-style: solid; border-color: #137001; /* 枠の色 */ border-width: 5px 1px 1px; box-shadow: 1px 1px 3px #ccc; /* 影 */ }

.button_middle { padding: 8px 10px; border-radius: 10px; font-size: 12px; color: white; border: 2px solid white; margin-right: 10px; display: inline-block; background-color: rgba(0, 156, 13, 0.726); position: relative; }

.button_middle a:link, .button_middle a:visited { color: white; }

.action_create { align-items: center; }

.action_create .goal_create_link { font-size: 25px; text-align: center; }

.weekly_action_select { display: flex; justify-content: space-between; }

.weekly_action_select .weekly_action_select_button { display: flex; margin: 0,10px; }

.button_red, .button_blue { border-radius: 10px; font-size: 15px; height: 80%; border: 2px solid white; padding: 8px; display: inline-block; text-decoration: none; }

.button_red { text-align: center; background-color: rgba(209, 22, 22, 0.466); color: white; }

.button_red a:link, .button_red a:visited { color: white; }

.button_blue { text-align: center; background-color: #4a5bbd; color: white; }

.button_blue a:link, .button_blue a:visited { color: white; }

.button_middle:hover, .button_blue:hover, .button_red:hover { background-color: #00b8d4b6; background-color: #00b8d4b6; -webkit-box-shadow: 3px 4px 7px #2BBBB8; box-shadow: 3px 4px 7px #2e9e9c; }

.button_middle:hover a:link, .button_middle:hover a:visited, .button_blue:hover a:link, .button_blue:hover a:visited, .button_red:hover a:link, .button_red:hover a:visited { text-decoration: none; color: black; }

.hanko { font-size: 20px; border: 1.5px double #f00; border-radius: 50%; color: #f00; width: 50px; height: 50px; display: flex; justify-content: center; align-items: center; }

/*# sourceMappingURL=styles.css.map */