a { text-decoration: none; }

.baseheader a { color: rgba(0, 36, 240, 0.74); }

.baseheader_name { position: relative; padding: 0, 5px; }

.baseheader_name:after { content: ""; display: block; height: 4px; background: -webkit-linear-gradient(to right, #2e3cff, transparent); background: linear-gradient(to right, #2e3cff, transparent); }

body { line-height: 1.8; }

@media screen and (min-width: 1200px) { .container { width: 1366px; } .main { display: flex; } .main .calendar { width: 50vw; } .main .monthly-goal { width: 50vw; } }

html, body { width: 100%; height: 100%; margin: 0px; padding: 0px; overflow-x: hidden; }

.header { background: #00810b; background-size: cover; }

.header--wrapper { display: flex; justify-content: left; }

.header__title { font-size: 50px; color: white; font-weight: 800; }

.header__title--light { font-weight: 100; }

.header__paragraph { font-size: 20px; color: black; max-width: 850px; margin-bottom: 45px; }

@media screen and (max-width: 480px) { .header .header__title { font-size: 20px; } body h2 { font-size: 15px; } .baseheader { width: 100px; display: flex; flex-direction: column; } .main { display: block; } }

.button { padding: 8px 50px; border-radius: 30px; font-size: 18px; color: white; border: 2px solid white; margin-right: 20px; display: inline-block; background-color: #00810b; position: relative; }

.baseheader { display: flex; justify-content: left; align-items: center; width: 300px; }

.baseheader_content .baseheader_name { font-size: 20px; color: black; padding-left: 35px; }

.button:hover { background-color: #00b8d4b6; background-color: #00b8d4b6; -webkit-box-shadow: 3px 4px 7px #2BBBB8; box-shadow: 3px 4px 7px #2e9e9c; }

.button:focus { text-decoration: none; color: black; }

@media screen and (max-width: 480px) { .header .button { margin-bottom: 20px; } }

@media screen and (max-width: 1000px) { .button__subscribe { right: 0; } }

.page-section { margin-top: 10px; margin-bottom: 10px; }

.page-section--large { margin-top: 150px; margin-bottom: 150px; }

.page-section--small { margin-top: 20px; }

.page-section__title { font-size: 30px; color: #061e37; font-weight: bold; }

.page-section__paragraph { font-size: 15px; color: #061e37; max-width: 520px; margin-right: auto; margin-left: auto; }

.footer--bg { background-color: #021E2F; }

.footer__title { font-size: 20px; color: #fff; margin-bottom: 10px; }

.footer ul { padding-left: 0; }

.footer ul li { list-style-type: none; font-size: 15px; color: #fff; margin-bottom: 15x; }

.footer ul li a { color: white; font-weight: bold; }

.footer .gutters-100 > [class^="col-"], .gutters-100 > [class^="col-"] { padding-right: 50px; padding-left: 50px; }

.col-md-6 { width: 50vw; display: flex; flex-direction: column; }

.main_upper, .deteil_lower { display: flex; }

.pagenation_main { display: flex; justify-content: center; }

.pagenation_main div { display: grid; place-items: center; padding-right: 5px; }

.monthly-goal { margin-left: 10px; }

.goals_content { margin-left: 15px; text-decoration: none; color: black; }

.goals_content a:link, .goals_content a:visited { color: black; }

.action_create { display: flex; justify-content: start; align-items: center; }

.action_create .goal_create_link { font-size: 25px; text-align: center; }

.weekly_action_select { display: flex; justify-content: space-between; }

.weekly_action_select .weekly_action_select_button { display: flex; margin: 0,10px; }

.weekly_action_select .button_red, .weekly_action_select .button_blue { border-radius: 10px; font-size: 15px; border: 2px solid white; padding: 8px; display: inline-block; position: relative; text-decoration: none; }

.weekly_action_select .button_red { background-color: rgba(209, 22, 22, 0.466); }

.weekly_action_select .button_red a:link, .weekly_action_select .button_red a:visited { color: white; }

.weekly_action_select .button_blue { background-color: #4a5bbd; }

.weekly_action_select .button_blue a:link, .weekly_action_select .button_blue a:visited { color: white; }

.weekly_action_select .button_blue:hover, .weekly_action_select .button_red:hover { background-color: #00b8d4b6; background-color: #00b8d4b6; -webkit-box-shadow: 3px 4px 7px #2BBBB8; box-shadow: 3px 4px 7px #2e9e9c; }

.weekly_action_select .button_blue:focus { text-decoration: none; color: black; }

/*# sourceMappingURL=styles.css.map */