<!doctype html>
{% load static %}
{% load sass_tags %} 

<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>目標管理アプリ</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  
  <link rel="stylesheet" type=text/css href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href='{% sass_src "temp/styles/styles.scss" %}' type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
  <header class="header">
    <div class="container header--wrapper">
      <h1 class="header__title"><span class="header__title--light">目標管理</span> アプリ</h1>
      {% if user.is_authenticated %}
      <div class="baseheader">
        <div class="baseheader_name"><a href="{% url 'account:main'  %}">{{ user.username }}さんのマイページ</a></div>
        <div class="baseheader_content baseheader_name"><a href="{% url 'account:signout' %}">サインアウト</a></div>
        <div class="baseheader_content baseheader_name"><a href="{% url 'account:user_update' request.user.id %}">プロフィール変更</a></div> 
      </div>
      {% endif %}
    </div>
  </header>
  <div class="all_content">
    {% if messages %}
    <div class="alert alert-info">
            <div class="message-body">
                {% for message in messages %}
                <div class=""> {{ message }}  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button></div>
               
                {% endfor %}
            </div>
    </div>
    {% endif %}
  {% block body %}
  

  {% endblock body %}
</div>

  <footer class="footer footer--bg">
    <div class="content">
      <div class="page-section page-section--small">
        <div class="row gutters-100">
          <div class="col-md-6 col-lg-2">
            <h3 class="footer__title">Contact</h3>
            <ul class="footer">
              <li><span class="glyphicon glyphicon-envelope"></span><a href="#"> 現在不可です</a> </li>
              <li class="copylight">©︎ 2020 created by Satoshi Yajima</li>
              <i class="fas fa-blog"><span class="font"><a href="https://yaji-s.hatenablog.com/">アウトプットブログ</a></span></i>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>  