<!doctype html>
{% load static %}
{% load sass_tags %} 
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>目標管理アプリ</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  
  <link rel="stylesheet" type=text/css href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <link rel="stylesheet" href='{% sass_src "temp/styles/styles.scss" %}' type="text/css">
</head>
<body>
    
  
  <header class="header">
    <div class="container header--wrapper">
      <h1 class="header__title"><span class="header__title--light">目標管理</span> アプリ</h1>
      {% if user.is_authenticated %}
      <div class="baseheader">
        <div class="baseheader_name"><a href="{% url 'account:main' request.user.id %}">マイページ：{{ user.username }}</a></div>
        <div class="baseheader_content"><a href="{% url 'account:signout' %}">サインアウト</a></div>
        <div class="baseheader_content"><a href="#">プロフィール</a></div> 
      </div>
      {% endif %}
    </div>

  </header>
  {% block body %}
  
  <section class="process">
    <div class="container">
      <div class="page-section text-center">
        <h2 class="page-section__title">About app</h2>
        <p class="page-section__paragraph">
          目標達成のサポートを目的としたアプリです。   
          <br>これから達成したい目標があったり、成長したい人用の役に立てば幸いです</p>
          
          <a class="button" href="#">SIGN IN</a>
          <a class="button" href="#">SIGN UP</a>
      </div>
    </div>
  </section>

  <section class="subscribe">
    <div class="container">
      <div class="page-section page-section--medium text-center">
      </div>
    </div>
  </section>

  {% endblock body %}


  <footer class="footer footer--bg">
    <div class="container">
      <div class="page-section page-section--small">
        <div class="row gutters-100">
          <div class="col-md-6 col-lg-2">
            <h3 class="footer__title">Contact</h3>
            <ul class="footer">
              <li><span class="glyphicon glyphicon-envelope"></span><a href="#"> support@dartthemes.com</a> </li>
              <li class="copylight">©︎ 2020 created by Satoshi Yajima</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>


</body>
</html>  