{% extends 'account/base.html' %}

{% block body %}
    <h1>{{ user.username }}さんのマイページ</h1>
    <h1><a href="{% url 'monthly_goal:goal-create' %}">月間目標作成</a></h1>

    <div class="monthly-goal"> 
        <h1>直近の目標</h1>
        {% for goal in monthly_goals %}
        <!-- 月間目標・1週間アクションを表示(1ヶ月分)、クリックで詳細・編集ページへ -->
            <div>
                <h2><a href="{% url 'monthly_goal:goal-detail' goal.id %}">{{ goal.goal }}</a></h2>
                <ul>
                    <li>達成期限{{ goal.year }}年{{ goal.month }}月</li>
                    <li>週別アクション</li>
                </ul>
            </div>

        {% endfor %}
    </div>

    <div class="calendar">

    </div>
    
{% endblock body %}