{% extends 'account/base.html' %}
{% block body %}

    <h1 class="pege_title">{{ user.username }}さんのマイページ</h1>
    <div class="main_upper">
        <botton><a class="button" href="{% url 'monthly_goal:goal-create' %}">月間目標作成</a></botton>
        <botton><a class="button" href="{% url 'account:main' user.id%}">未評価目標</a></botton>
    </div>

    <div class="monthly-goal"> 
        <h1>直近の目標</h1>
        {% for goal in monthly_goals %}
        <!-- 月間目標・1週間アクションを表示(1ヶ月分)、クリックで詳細・編集ページへ -->
        {% if goal.sccore %}
            <div class="goals_content">
                {% if goal.revised_goal %}
                <h2><a href="{% url 'monthly_goal:goal-detail' goal.id %}">修正目標：{{ goal.revised_goal }}</a></h2>
                <h3>（初期目標：{{ goal.goal }}）</h3>
                {% else %}
                <h2><a href="{% url 'monthly_goal:goal-detail' goal.id %}">目標：{{ goal.goal }}</a></h2>
                {% endif %}
                <ul>
                    <li>達成期限{{ goal.year }}年{{ goal.month }}月</li>
                    <li>週別アクション</li>
                </ul>
            </div>
        {% endif %}
        {% endfor %}
    </div>
    
    <div class="calendar">
        
    </div>
    
{% endblock body %}

