{% extends 'account/base.html' %}
{% load crispy_forms_tags %}

{% block body %}
{% if request.user.is_authenticated %}
    <h1 class="page_title">
        {{ user.username }}さんは
        {% if request.user.is_superuser %}
            スーパーユーザー
        {% elif request.user.is_staff %}
            スタッフユーザー
        {% elif request.user.username == "test2" %}
                テストユーザー
        {% elif request.user.username == "gest" %}
                gestユーザーさん
        {% elif request.user.is_active %}
            一般ユーザーさん
        {% endif %}
        です
    </h1>
{% endif %}
<h2 class="sub_title"><a href="{% url 'account:main' request.user.id %}">マイページへ</a></h2>
{% endblock body %}