{% extends 'account/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
  
  <section class="process">
    <div class="container">
      <form method="POST" role="form" action="" class="signup-form">
        {% csrf_token %}
        {{form|crispy}}
        {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        <button type="submit" class="button">Sign up</button>
      </form>
      <a class="button" href="{% url 'account:index' %}">Back</a>
    </div>
  </section>

  <section class="subscribe">
    <div class="container">
      <div class="page-section page-section--medium text-center">
      </div>
    </div>
  </section>

{% endblock body %}
