{% extends 'account/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
{% if request.user.id == object.custom_user.id %}
<h1 class="pege_title">アクション詳細</h1>

    <div>
        <h2>アクション：{{ object.goal_action }}</h2>
        <ul>
            <li>週別アクション</li>
        </ul>
        <div class="deteil_lower">
            <div><a class="button_blue" href="{% url 'weekly_action:action-update' object.id %}">自己評価・目標修正</a></div>
            <div><a class="button_red" href="{% url 'weekly_action:action-delete' object.id %}">削除</a></div>
        </div>
    </div>

{% endif %}
{% endblock body %}
