{% extends 'account/base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=True %}
{% load static %}
{% block body %}
{% if request.user.id == object.custom_user.id %}<h1 class="pege_title">目標修正</h1>

<div class="post-monthly-goal">
    <form method='POST' role="form" action="" class="login-form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">自己評価・目標修正!</button>
    </form>
</div>
{% endif %}
{% endblock body %}