{% extends 'account/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
{% block body %}
<h1 class="pege_title">目標設定</h1>
<div class="post-monthly-goal">
    <form method='POST' role="form" action="" class="login-form">
        {% csrf_token %}
        <div>{{form.year|add_class:'shortform'|as_crispy_field}}</div>
        <div>{{form.month|add_class:'shortform'|as_crispy_field}}</div>
        <div>{{form.category|add_class:'shortform'|as_crispy_field}}</div>
        <div>
            {{ form.goal|add_class:'inputtext'|as_crispy_field }}
        </div>
        <div>{{ form.why_need_goal|attr:"cols:100"|attr:"rows:3"|as_crispy_field }}</div>
        <div class="form-bottom">
            <button type="submit" class="btn btn-primary">目標投稿!</button>
        </div>
    </form>
</div>

{% endblock body %}